:root {
  /* Color */
  --white-color: white;
  --black-color: black;
  --blue-color: blue;
  --red-color: red;
  --gray-dark-color: #909090;
  --gray-light-color: #e0e0e0;

  /* Size */
  --side-padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}
/* var(--text-color) */
body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  padding: 8px 12px;
}

.logo i {
  color: red;
}

.icons {
  color: white;
  font-size: 24px;
  padding: 8px 12px;
}

.icons i {
  padding: 8px 12px;
}
.player {
  background-color: black;
  text-align: center;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

body > .infoAndUpNext > .info {
  display: flex;
  flex-direction: column;
  margin: var(--side-padding);
}

.info .metadata .hashtags {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.info .metadata ul li {
  padding-right: 5px;
  color: blue;
  font-size: 12px;
}

.info .metadata .titleAndBtn {
  display: flex;
}

.info .metadata .titleAndBtn .title {
}

.info .metadata .titleAndBtn .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .moreBtn.clicked {
  height: 100%;
  transform: rotate(180deg);
}

.info .metadata .createdDate {
  font-size: 12px;
  color: gray;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
}

.info .actions .actionsBtn {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding-left: 0;
}

.info .actions button {
  display: flex;
  flex-direction: column;
}

.info .actions button i {
  margin: 0 auto;
  margin-bottom: 8px;
}

.info .channel {
  display: flex;
  justify-content: space-between;
  /* padding: var(--side-padding); */
  border-top: 1px solid var(--gray-light-color);
  border-bottom: 1px solid var(--gray-light-color);
}

.info .channel .userInfo {
  display: flex;
  align-items: center;
}
.info .channel .userInfo img {
  width: auto;
  height: auto;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
}

.info .channel .userInfo .info {
  margin-left: var(--side-padding);
}

.info .channel .userInfo .info .name {
  font-size: var(--font-medium);
}

.info .channel .userInfo .info .subscribers {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.info .channel .subscribe {
  display: flex;
  align-items: center;
}
.info .channel .subscribe button {
  text-transform: uppercase;
  font-size: var(--font-small);
  color: var(--red-color);
}

/* UpNext */
.UpNext {
  margin: var(--side-padding);
}

.UpNext ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* UpNext Item */
.UpNext .item {
  display: flex;
  height: 100%;
}

.UpNext .item .image {
  flex: 1 1 35%;
}

.UpNext .item img {
  width: 100%;
}

.UpNext .item .info {
  flex: 1 1 60%;
  height: 100%;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.UpNext .item .moreBtnDiv {
  height: 100%;
  flex: 1 1 5%;
}

/* UpNext Info */
.UpNext .info .title {
  font-size: var(--font-medium);
}
.UpNext .info .name {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.UpNext .info .views {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

@media screen and (min-width: 700px) {
  .infoAndUpNext {
    display: flex;
  }
  .infoAndUpNext .info {
    flex: 1 1 50%;
  }

  .infoAndUpNext .UpNext {
    flex: 1 1 50%;
  }
}
